body{
    display: flex;
}
body :nth-child(2){
    background-color: black;
}
.A1{
    background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png");
    background-size: cover;
    width: 55vw;height: 100vh;

    color: white;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 350px;
}
.A2{
    border: 1px solid black;
    width: 45vw;height: 100vh;
}
.A2 div{
    color: white;
}
.a1{
    position: relative;
    top: 30px;
    left: 30px;
    font-size: 50px;
    
}
.a2{
    height: 100px;width: 580px;
    position: relative;
    top: 100px;
    font-size: 60px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 30px;
    padding-left: 30px;
    color: white;
}
.a3{
height: 50px;
position: relative;
font-size: 30px; 
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-left: 30px;
top: 100px;
padding-top: 10px;
color: white;

}
#A3{
    width: 400px;
    height: 400px;
    position: relative;
    top: 100px;
    padding-left: 30px;
}
#A3 div{
    width: 300px;
    height: 40px;
    border-radius: 30px;
    
}
nav :nth-child(1){
    
    width: 300px;
    height: 40px;
    border-radius: 30px;
}
.b5{
    padding-left: 5px;
    font-size: 12px;
    color: gray;
}
#A4{
    padding-left: 35px;
    color: white;
    
}
#A5{
   
    
    padding-left: 30px;
}
#A5 button{
    border: 1px solid gray;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    color: rgb(62, 189, 235);
}
nav div center{
    color: white;
}
